defmodule AdventOfCode.<%= @test_module %> do
  use ExUnit.Case
  alias AdventOfCode.Input
  alias AdventOfCode.<%= @module %>

  test "task 1 example" do
    input = """
    """ 
    |> String.split("\n", trim: true)

    assert <%= @module %>.__task1__(input) == 0
  end

  test "task 1 input" do
    input = Input.read_lines_from_file("priv/inputs/<%= @file_name %>.txt")
    assert Task1.__task1__(input) == 0
  end

  test "task 2 example" do
    input = """
    """
    |> String.split("\n", trim: true)

    assert <%= @module %>.__task2__(input) == 0
  end

  test "task 2 input" do
    input = Input.read_lines_from_file("priv/inputs/<%= @file_name %>.txt")
    assert <%= @module %>.__task2__(input) == 0
  end
end